.dividends.period.container {
    border-radius: 4px;
    width: 1180px;
    background: white;
    margin-right: 6px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 28px;
}

.dividends.period.container .chart {
    width: 1000px;
    height: 270px;
    margin-top: 5px;
    margin-right: 90px;
    
}

