.chart {
    background: var(--color-bg-secondary);
    border-radius: var(--border-radius);
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: var(--shadow);
    margin-bottom: -16px;
}