.tab {
    display: inline-flex;
    
    font-size: 18px;
    font-family: roboto condensed;
    letter-spacing: 1px;
    position: relative;
    color: rgb(143, 143, 143);
    text-transform: uppercase;
}

.tab.single {
    justify-content: center;
    padding: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 25px;
    width: 110px;
}

.tab.single.small.active {
    color: dodgerblue;
}

.tab.single.active {
    color: white;
}

.bar {
    position: absolute;
    display: black;
    width: 128px;
    top: 86%;
    border-bottom: 5px solid white;
    transition: left .5s ease;
}

.tab.single.small {
    font-size: 14px;
    width: 70px;
    padding: 8px;
    padding-bottom: 11px;
}

.bar.small {
    width: 86px;
    border-bottom: 2px solid dodgerblue;
}
