.dividends-sector {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
    background: white;
    border-radius: 4px;
    padding: 20px;
}

.dividends-sector .chart {
    height: 488px;
    width: 623px;
    border: red 1px solid;
}

.dividends-sector > h2 {
    margin-top: 0px;
    font-size: 14pt;
    margin-bottom: 10px;
}