.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: var(--shadow);
    background: var(--color-bg-accent);
    border-radius: var(--border-radius);
    padding: 20px;
}

.chart {
    height: 539px;
    width: 618px;
    border: red 1px solid;
}

.container > h2 {
    margin-top: 0px;
    margin-bottom: 15px;
}