.popup.window {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.window:target {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 1s;
}


.rest {
    position: fixed;
    background: rgb(32, 32, 32) ;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: flex;
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.popup .bg {
    z-index: 1;
    overflow: auto;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgb(77, 77, 77);
    width: 600px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 30px;
}

.popup .close {
    z-index: 1;
    position: fixed;
    margin-top: -20px;
    margin-right: -20px;
}

.popup .head {
    z-index: 1;
    position: fixed;
    background: white;
    margin-top: -30px;
    padding-top: 10px;
    margin-right: -1px;
    padding-bottom: 15px;
    height: 58px;
    width: 602px
} 

.popup .head .company {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

.popup .head .ticker {
    margin-top: -29px;
    font-family: 'Roboto', sans-serif;
    color: rgb(82, 82, 82);
    font-size: 9pt;
}

.popup .head .bar {
    margin-top: 8px;
    border-bottom: 1px darkgray solid;
    width: 600px;
}

.popup .info {
    margin-top: 35px;
    position:relative;
}



