.input {
    position: relative;
}

.field {
    height: 38px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background: var(--color-secondary-light);
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 10px;
    padding-top: 9px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--font);
    font-size: var(--font-size);
}

input:focus{
    outline: none;
}

.label {
    font-size: 11pt;
    text-transform: uppercase;
    color: var(--color-secondary-strong);
    position: absolute;
    left: 10px;
    top: 17px;
    pointer-events:none;
    transition: 0.3s ease all;
}

input:focus ~ .label {
    top: 5.1px;
    font-size: 7pt;
    color: var(--color-accent);
    transition: 0.3s ease all;
}

input:valid ~ .label {
    top: 5.1px;
    font-size: 7pt;
    color: var(--color-accent);
    transition: 0.3s ease all;
}

input:focus {
    border-bottom: 2px solid var(--color-accent);
    background: rgb(232, 232, 232);
    padding-top: 8px;
}

input:valid {
    border-bottom: 2px solid var(--color-accent);
    background: rgb(232, 232, 232);
    padding-top: 8px;
}

input:hover {
    background: rgb(232, 232, 232);
}

input:focus.error {
    border-bottom: 2px solid var(--color-error);
    background: rgb(231, 231, 231);
    padding-top: 8px;
}

input:valid.error {
    border-bottom: 2px solid var(--color-error);
    background: rgb(231, 231, 231);
    padding-top: 8px;
}

.label.error {
    color: var(--color-error);
}

input:focus ~ .label.error {
    color: var(--color-error);
}

input:valid ~ .label.error {
    color: var(--color-error);
}

.messsage {
    color: var(--color-error);
    padding-left: 5px;
    font-size: 8pt;
    margin-top: 0px;
    margin-bottom: 8px;
    
}

.empty {
    margin-bottom: 21px;
}


