.container {
    display: inline-flex;
    justify-content: space-between;
    padding-top: 18px;
}

.container td {
    width: 80px;
}

.container .gains {
    display: inline-flex;
}

.container p {
    color: var(--font-color-secondary);
    font-size: var(--font-size);
    margin: 0px;
    white-space: nowrap;
}

.container .label {
    font-size: var(--font-size);
}

.container .total {
    color: var(--font-color-main);
    font-size: 19pt;
    font-weight: bold;
    margin-top: 5px;
}

.container .right {
    width: 220px;
    text-align: right;
}

.container tr:hover {
    background: transparent;
    cursor: default;
}

.container .number {
    font-weight: bold;
    font-size: 11pt;
    color: var(--font-color-main);
}

.container td+td {
    margin-left: 16px;
}

@media only screen and (max-width: 1200px) {
    .container { 
        display: inline-flex;
        justify-items: flex-end;
        padding-top: 22px;
    }

    .container .total {
        margin-top: 2px;
    }

    .container .left {
        width: 0px;
    }

    .container .right {
        display: inline-flex; 
        padding-top: 0px;
        padding-left: 160px;
    }

}

@media only screen and (max-width: 768px) {
    .container {
        display: inline-flex;
        padding-top: 0px;
        padding-top: 10px;
        margin-left: -120px;
    }

    .container .label {
        font-size: 9pt;
    }

    .container .total {
        margin-top: 3px;
        font-size: 13pt;
    }

    .container .number {
        font-size: 10pt;
    }

    .container p {
        font-size: 9pt;
    }
}

