.tab {
    display: inline-flex;
    font-size: 13pt;
    font-family: var(--font);
    position: relative;
    color: var(--color-secondary);
    text-transform: uppercase;
}

.single {
    justify-content: center;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
    width: 110px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}


.single:hover {
    background: rgb(43, 43, 43);
}

.smalltab:hover {
    background: var(--color-bg-secondary);
}

.active {
    color: var(--color-bg-accent);
}

.smalltab.active {
    color: var(--color-accent);
}

.bar {
    position: absolute;
    display: black;
    width: 126px;
    top: 90%;
    border-bottom: 5px solid var(--color-bg-accent);
    transition: left .5s ease;
}

.smalltab {
    font-size: 10pt;
    width: 70px;
    padding: 8px;
    padding-bottom: 8px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.smallbar {
    width: 86px;
    top: 95%;
    border-bottom: 2px solid var(--color-accent);
}

.tab:active {
    text-decoration: none;
}

.tab:visited {
    text-decoration: none;
}

.tab a {
    text-decoration: none;
}