.tab {
    display: inline-flex;
    font-size: 13pt;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: rgb(143, 143, 143);
    text-transform: uppercase;
}

.tab.single {
    justify-content: center;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 18px;
    width: 110px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.tab.single.small.active {
    color: dodgerblue;
}

.tab.single:hover {
    background: rgb(43, 43, 43);
}

.tab.single.small:hover {
    background: rgb(245, 245, 245);
}

.tab.single.active {
    color: white;
}

.bar {
    position: absolute;
    display: black;
    width: 126px;
    top: 90%;
    border-bottom: 5px solid white;
    transition: left .5s ease;
}

.tab.single.small {
    font-size: 10pt;
    width: 70px;
    padding: 8px;
    padding-bottom: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.bar.small {
    width: 86px;
    top: 95%;
    border-bottom: 2px solid dodgerblue;
}

.tab:active {
    text-decoration: none;
}

.tab:visited {
    text-decoration: none;
}

.tab a {
    text-decoration: none;
}
