.button {
    border: none;
    border-radius: 5px;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 9pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 3px rgb(124, 124, 124);
    text-transform: uppercase;
}

.button i {
    transform: scale(80%);
}

.button i p {
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button i + p {
    margin-left: 5px;
}

.button.round {
    height: 28px;
    width: 28px;
    color: rgb(228, 228, 228);
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.button.round:hover {
    color: rgb(216, 216, 216);
}

.button.round i {
    transform: scale(100%);
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button p {
    padding-bottom: 1px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

