.button {
    border: none;
    border-radius: 4px;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    height: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.button i {
    transform: scale(80%);
    padding-top: 2px;
}

.button i p {
    margin-right: auto;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button i + p {
    margin-left: 5px;
}

.button.round {
    height: 28px;
    width: 28px;
    color: rgb(187, 187, 187);
    background: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.button.round:hover {
    color: dodgerblue;
}

.button.round i {
    transform: scale(100%);
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button p {
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-size: 9.5pt;
}

