.head {
   z-index: 1;
   position: fixed;
   background: var(--color-bg-accent);
   margin-top: -30px;
   padding-top: 10px;
   margin-right: -1px;
   padding-bottom: 15px;
   height: 58px;
   width: 260px;
} 

.company {
   font-weight: bold;
   font-family: var(--font);
   font-size: 13pt;
}

.ticker {
   margin-top: -29px;
   font-family: var(--font);
   color: var(--color-secondary-strong);
   font-size: 9pt;
}

.bar {
   margin-top: 8px;
   width: 260px;
   border-bottom: 1px solid var(--color-secondary);
}

.inside {
   margin-top: 70px;
   margin-left:  auto;
   margin-right: auto;
   width: 260px;
   display: flex;
   align-items: flex-end;
   margin-bottom: 20px;
}


