.miniatures {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body h2 {
    text-align: center;
}

.body {
    margin-top: 30px;
}

.stock-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
