.body h2 {
    text-align: center;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.stock-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
