.holdings.gains {
    display: inline-flex;
}

.holdings p {
    color: rgb(199, 199, 199);
    font-size: 10pt;
    margin: 0px;
}

.holdings .top-label {
    font-size: 9.5pt;
}

.holdings.total {
    color:white
}

.holdings.total {
    color: white;
    font-size: 19pt;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
}

.holdings.container.left{
    width: 160px;
}

.holdings.container.right {
    padding-top: 10px;
    width: 260px;
    text-align: right;
}

.holdings.info{
    display: inline-flex;
    padding-top: 18px;
}

.holdings td {
    width: 150px;
}

.holdings:hover {
    background: transparent;
}

.holdings.number {
    font-weight: bold;
    color: white;
}

.holdings.gain {
    color: #238823;
}

