.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: var(--shadow);
    background: var(--color-bg-accent);
    border-radius: var(--border-radius);
    padding: 20px;
    padding-bottom: 28px;
}

.arrows {
    display: flex;
}

.arrows table {
    margin-left: 20px;
    margin-right: 20px;
}

.container h2 {
    font-size: 19pt;
    margin-top: 2px;
}