.dividends.recieved {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
    background: white;
    border-radius: 4px;
    padding: 20px;
    padding-bottom: 28px;
}

.dividends.arrows {
    display: flex;
}

.dividends.arrows table {
    margin-left: 20px;
    margin-right: 20px;
}