.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: var(--shadow);
    background: var(--color-bg-accent);
    border-radius: var(--border-radius);
    padding: 20px;
    padding-bottom: 28px;
}

.arrows {
    display: flex;
}

.container h2 {
    font-size: 19pt;
    margin-top: 2px;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 710px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 446px;
    }

}