.miniature.box {
    width: 168px;
    height: 66px;
    display: inline-flex;
    margin-right: 6px;
    margin-bottom: 25px;
    background: rgb(83, 83, 83);
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    justify-content:space-between;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
}

.miniature {
    font-family: arial black;
    color: white;
    font-size: 14px;
}

.miniature.company {
    font-size: 7.5pt;
    font-family: arial;
    color: rgb(226, 226, 226);
}

.miniature.ticker {
    text-transform: uppercase;
    font-size: 11pt;
    margin-bottom: -11px;
}

.miniature.number {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 9pt;
    letter-spacing: 0.3px;
    padding-right: 2px;
}

.miniature.percent {
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: -13px;
}


.miniature.right {
    text-align: right;
}

.miniature.up {
    background: #007000;
}

.miniature.down {
    background: #D2222D;
}
