.miniature.box {
    width: 168px;
    height: 66px;
    display: inline-flex;
    margin-right: 6px;
    margin-bottom: 15px;
    background: rgb(83, 83, 83);
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    justify-content:space-between;
}

.miniature {
    font-family: arial black;
    color: white;
    font-size: 14px;
}

.miniature.company {
    font-size: 11px;
    font-family: arial;
    color: rgb(226, 226, 226);
}

.miniature.ticker {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: -11px;
}

.miniature.number {
    font-family: roboto condensed;
    letter-spacing: 0.6px;
    font-weight: bold;
    font-size: 13px;
    padding-right: 2px;
}

.miniature.percent {
    font-size: 17px;
    font-family: roboto condensed;
    letter-spacing: 0.6px;
    font-weight: bold;
    margin-bottom: -13px;
}


.miniature.right {
    text-align: right;
}

.miniature.up {
    background: #007000;
}

.miniature.down {
    background: #D2222D;
}
