.stock.head {
    z-index: 1;
    position: fixed;
    background: white;
    margin-top: -30px;
    padding-top: 10px;
    margin-right: -1px;
    padding-bottom: 15px;
    height: 54px;
    width: 602px
} 

.stock.head .company {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

.stock.head .ticker {
    margin-top: -29px;
    font-family: 'Roboto', sans-serif;
    color: rgb(82, 82, 82);
    font-size: 9pt;
}

.stock.head .bar-info {
    margin-top: 8px;
    width: 600px;
    border-bottom: 1px darkgray solid;
}

.stock .info {
    margin-top: 70px;
    position: relative;
}
