.main-menu {
    margin-top: 35px;
}

.header {
    background: rgb(31, 31, 31);
    height: 90px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0px 2px 3px rgb(124, 124, 124);
}

.header div+div {
    margin-left: 163px;
}

.main-menu div+div {
    margin-left: 0px;
}

.holdings div+div {
    margin-left: 0px;
}

.header h2 {
    color: rgb(168, 168, 168)
}

.name {
    margin-top: 12px;
    text-align: left;
}

.holdings.gains {
    display: inline-flex;
}

.holdings p {
    color: rgb(199, 199, 199);
    font-size: 11pt;
    margin: 0px;
}

.holdings.gain {
    color: #238823;
}

.holdings.total {
    color:white
}

.holdings p + p {
    margin-left: 40px;
}

.holdings.total {
    color: white;
    font-size: 20pt;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
}

.holdings.container.left{
    width: 180px
}

.holdings.container.right {
    padding-top: 10px;
    width: 260px;
    text-align: right;
}

.holdings.info{
    display: inline-flex;
    padding-top: 18px;
}


