@keyframes ldio-7vtcznexcxe {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.ldio-7vtcznexcxe div {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 7px solid #1e90ff;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-7vtcznexcxe div {
  animation: ldio-7vtcznexcxe 1.25s linear infinite;
  top: 50px;
  left: 50px
}

.loadingio-spinner-rolling-p982p7fse9 {
  width: 64px;
  height: 64px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-7vtcznexcxe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.64);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-7vtcznexcxe div { box-sizing: content-box; }

