body {
    background: rgb(10, 10, 10);
}

.container {
    background: rgb(41, 41, 41);
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 0px;
    border-radius: 8px;
}

.container p {
    color: white;
    font-family: arial;
}