body {
    --color-bg-accent: white;
    --color-bg-secondary: rgb(243, 243, 243);
    --color-bg-secondary-dark: rgb(31, 31, 31);
    --color-accent: dodgerblue;
    --color-secondary: darkgrey;
    --color-secondary-strong: rgb(102, 102, 102);
    --color-secondary-light: rgb(235, 235, 235);
    --color-error: #D2222D;
    --color-gain: #007000;
    --font: 'Roboto', sans-serif;
    --font-size: 10pt;
    --font-color-main: white;
    --font-color-secondary: rgb(175, 175, 175);
    --border-radius: 4px;
    --shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);

    background: var(--color-bg-secondary);
    font-size: var(--font-size);
    font-family: var(--font);
    overflow: overlay;
    padding-bottom: 45px;
}

h1 {
    font-size: 16pt;
    font-family: var(--font);
    color: var(--font-color-main);
    margin-bottom: -2px;
    text-transform: uppercase;
    line-height: 14.5pt; 
}

h1+h2 {
    line-height: 0px; 
}

h2 {
    font-size: 13pt;
    font-weight: bold;
    font-family: var(--font);
    color: var(--color-secondary-strong);
    text-transform: uppercase;
}