.table {
    border-radius: 4px;
    background: white;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
    text-align: left;
    border-collapse: collapse;
    margin-right: 6px;
}

.table th {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: normal;
    border-bottom: 1px solid darkgray;
}

.table td {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    border-bottom: 1px solid darkgray;
}

td .ticker {
    font-size: 10.2pt;
    font-weight: bold;
    margin-bottom: -10px;
}

td .company {
    font-size: 7.5pt;
}

tr:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.head:hover {
    background: transparent;
}

.green-test {
    color: #007000;
}
